/* Import custom fonts */
@font-face {
  font-family: 'modelica';
  src: url('./fonts/BwModelica-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'modelica';
  src: url('./fonts/BwModelica-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'modelica';
  src: url('./fonts/BwModelica-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'modelica';
  src: url('./fonts/BwModelica-ExtraBoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Alpine.js: Enable the x-cloak directive */
[x-cloak] {
  display: none !important;
}
