---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Urban Oasis \\\\ Resource not found">
  <main class="text-zinc-50">
    <h1 class="text-7xl font-bold text-zinc-50">404</h1>
  </main>
</Layout>
