---
import { Image, getImage } from 'astro:assets';
import Layout from '@layouts/Layout.astro';

import Credits from '@components/Credits.astro';
import Person from '@components/Person.astro';
import Tree from '@components/Tree.astro';
import Underline from '@components/Underline.astro';

import EnterTop from '@effects/EnterTop.astro';
import EnterLeft from '@effects/EnterLeft.astro';
import EnterRight from '@effects/EnterRight.astro';
import EnterJiggle from '@effects/EnterJiggle.astro';

import alex from '@assets/alex.png';
import ethan from '@assets/ethan.png';
import grant from '@assets/grant.png';
import kai from '@assets/kai.png';
---

<Layout title="Urban Oasis \\\\ Let's cultivate community">
  <main class="overflow-x-clip">
    <header>
      <div class="fixed top-0 z-40 w-full">
        <div class="backdrop-blur-lg">
          <div class="flex h-16 items-center bg-zinc-950 px-5 opacity-60"></div>
        </div>
      </div>
      <div class="fixed top-0 z-50 w-full">
        <div class="container mx-auto opacity-100">
          <EnterTop>
            <a href="#" aria-label="To top of page"
              ><img src="logo-banner.png" width="179" height="112" alt="" class="h-28" /></a
            >
          </EnterTop>
        </div>
      </div>
    </header>
    <div
      class="bg-[linear-gradient(0deg,#1a2e0588,#09090b),url('/hero.jpg')] bg-cover bg-center pb-24 pt-64 backdrop-blur lg:pt-80"
    >
      <div class="px-5">
        <div class="container mx-auto">
          <h1 class="text-xl font-bold text-lime-100 md:text-3xl">
            <EnterLeft>Let's<br /></EnterLeft>
            <EnterRight>cultivate<br /></EnterRight>
            <EnterLeft>
              <span
                class="bg-gradient-to-r from-lime-400 to-lime-200 bg-clip-text text-5xl text-transparent md:text-7xl"
              >
                \\community
              </span>
            </EnterLeft>
          </h1>
        </div>
      </div>
    </div>
    <header class="sticky top-4 z-40">
      <div class="absolute left-0 top-0 -z-10 h-16 w-1/2 bg-lime-200"></div>
      <div class="container mx-auto">
        <div class="flex h-16 items-center justify-end bg-lime-200 px-5">
          <h2 class="text-underline text-end text-xl font-bold md:text-2xl">mission.</h2>
        </div>
      </div>
    </header>
    <div id="mission" class="-mt-16 bg-zinc-50">
      <div class="h-16 w-full bg-lime-200"></div>
      <div class="container isolate mx-auto gap-8 space-y-24 pt-24">
        <div class="mx-auto max-w-prose space-y-7 px-5 text-center text-xl">
          <h2 class="text-5xl font-bold">
            A <Underline>brighter</Underline> future.
          </h2>
          <p>
            Gardening holds immense potential in addressing the pressing issue of food insecurity while simultaneously
            fostering community connections and encouraging healthy lifestyles. We envision a brighter future where
            sustainable and flourishing gardens become a reality, starting in the Indianapolis area.
          </p>
        </div>
        <div class="relative space-y-24 px-5 pb-32 pt-8 md:space-y-16">
          <EnterLeft>
            <div
              class="max-w-md -rotate-6 space-y-5 border-2 border-zinc-950 bg-zinc-50/90 p-5 shadow-md shadow-zinc-300 max-md:mx-auto"
            >
              <h3 class="text-3xl font-bold">Empowering<br />independence.</h3>
              <p class="text-justify">
                The ability to grow a diverse range of fruits, vegetables, and herbs enables communities to become more
                self-reliant, reduce dependence on external food sources, and ensure access to fresh, nutritious food
                year-round.
              </p>
            </div>
          </EnterLeft>
          <EnterRight>
            <div
              class="max-w-md rotate-6 space-y-5 border-2 border-zinc-950 bg-zinc-50/90 p-5 shadow-md shadow-zinc-300 max-md:mx-auto md:ml-auto"
            >
              <h3 class="text-3xl font-bold">Forging<br />bonds.</h3>
              <p class="text-justify">
                Working together in shared garden spaces forges tight-knit relationships and fosters a sense of unity
                and togetherness, promoting a supportive network where individuals can exchange ideas, recipes, and
                traditions.
              </p>
            </div>
          </EnterRight>
          <EnterLeft>
            <div
              class="max-w-md -rotate-6 space-y-5 border-2 border-zinc-950 bg-zinc-50/90 p-5 shadow-md shadow-zinc-300 max-md:mx-auto"
            >
              <h3 class="text-3xl font-bold">Inspiring<br />health.</h3>
              <p class="text-justify">
                Not only does engaging in physical activity while gardening provide health benefits, firsthand access to
                fresh produce rich in vitamins, minerals, and antioxidants encourages us to consume a more nutritious
                diet.
              </p>
            </div>
          </EnterLeft>
          <Tree />
        </div>
      </div>
    </div>
    <header class="sticky top-8 z-40">
      <div class="absolute left-0 top-0 -z-10 h-16 w-1/2 bg-zinc-950"></div>
      <div class="container mx-auto">
        <div class="flex h-16 items-center justify-end bg-zinc-950 px-5 text-lime-200 lg:mr-44">
          <h2 class="text-underline z-50 text-end text-xl font-bold md:text-2xl">volunteer.</h2>
        </div>
      </div>
    </header>
    <div id="volunteer" class="-mt-16 bg-zinc-50">
      <div class="h-16 w-full bg-zinc-950"></div>
      <div class="container mx-auto px-5 pb-32 pt-24">
        <div class="space-y-8 text-xl">
          <div class="mx-auto max-w-prose space-y-20 text-center text-xl">
            <p>
              To turn our vision into reality, we extend an invitation for you to join us on this transformative
              journey. Whether you have prior gardening experience or not, we'd love for you to join us in our mission.
            </p>
            <p class="text-3xl">
              <strong>Let's cultivate <Underline>community</Underline> in Indianapolis, together.</strong>
            </p>
          </div>
          <form class="mx-auto max-w-prose space-y-14 p-1" action="">
            <div class="space-y-6">
              <div class="flex flex-col gap-1">
                <label for="name">Your name</label>
                <input
                  class="border-2 border-zinc-300 bg-zinc-100 p-3 text-lg placeholder:text-zinc-400"
                  id="name"
                  type="text"
                  placeholder="John Doe"
                  required
                />
              </div>
              <div class="flex flex-col gap-1">
                <label for="email">Your email</label>
                <input
                  class="border-2 border-zinc-300 bg-zinc-100 p-3 text-lg placeholder:text-zinc-400"
                  id="email"
                  type="email"
                  placeholder="johndoe@example.com"
                  required
                />
              </div>
            </div>
            <EnterJiggle>
              <button
                class="w-full -rotate-2 bg-gradient-to-br from-yellow-400 to-pink-400 p-5 opacity-80 transition hover:rotate-2 hover:from-yellow-400 hover:to-pink-400 hover:opacity-100 focus:rotate-2 focus:from-yellow-400 focus:to-pink-400 focus:opacity-100"
                type="submit"
              >
                <strong class="text-2xl">Volunteer with us!</strong>
              </button>
            </EnterJiggle>
          </form>
        </div>
      </div>
    </div>

    <header class="sticky top-12 z-40">
      <div class="absolute left-0 top-0 -z-10 h-16 w-1/2 bg-lime-200"></div>
      <div class="container mx-auto">
        <div class="flex h-16 items-center justify-end bg-lime-200 px-5 text-zinc-950 lg:mr-96">
          <h2 class="text-underline z-50 text-end text-xl font-bold md:text-2xl">leadership.</h2>
        </div>
      </div>
    </header>
    <div id="leadership" class="-mt-16 bg-zinc-950 text-zinc-100">
      <div class="h-16 w-full bg-lime-200"></div>
      <div class="container mx-auto flex flex-col space-y-32 px-5 pt-32">
        <div class="grid max-w-4xl grid-cols-1 gap-x-16 gap-y-12 self-center sm:grid-cols-2 lg:gap-x-32 lg:gap-y-16">
          <Person
            name="Grant Racop"
            role="Chairman"
            imgSrc={grant}
            credentials="Indiana University Alumnus, McKinney School of Law, J.D. Candidate"
          />
          <Person
            name="Kai Gonzalez"
            role="President"
            imgSrc={kai}
            credentials="Indiana University Alumnus, Kelley School of Business, Pre-Law"
          />
          <Person
            name="Alex Belyayev"
            role="Operations Director"
            imgSrc={alex}
            credentials="Indiana University Alumnus"
          />
          <Person
            name="Ethan Gonzalez"
            role="Finance Director"
            imgSrc={ethan}
            credentials="Indiana University Alumnus, Kelley School of Business"
          />
        </div>
        <div class="mx-auto w-fit space-y-5 pb-5 text-center">
          <p><i>&copy; 2023 Urban Oasis, Inc.</i></p>
          <Credits />
        </div>
      </div>
    </div>
  </main>
</Layout>
