<div x-data="{ open: false }">
  <button @click="open = !open">Toggle Content</button>
  <div x-cloak x-show="open" x-transition>
    WOW!
    <div x-data="{ open: false }">
      <button @click="open = !open">Toggle Content</button>
      <div x-cloak x-show="open" x-transition>
        WOW!
        <div x-data="{ open: false }">
          <button @click="open = !open">Toggle Content</button>
          <div x-cloak x-show="open" x-transition>
            WOW!
            <div x-data="{ open: false }">
              <button @click="open = !open">Toggle Content</button>
              <div x-cloak x-show="open" x-transition>WOW!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
