<script>
  const credits = document.querySelector('#credits');

  credits.addEventListener('animationend', () => {
    credits.classList.add('end');
  });
</script>

<div
  id="credits"
  x-data
  class="start border-r-2"
  x-intersect.once="setTimeout(() => {$el.classList.add('trigger')}, 1500)"
>
  <p><i>Design and development by <a href="https://vaut.io" target="_blank"><u>vaut.io</u></a></i></p>
</div>

<style>
  .start {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    display: inline-block;
    margin-inline: auto;
    font-family: 'Courier';
    animation: blink-caret 0.6s step-end infinite;
  }

  .trigger {
    animation: typing 4.95s steps(33, end), blink-caret 0.3s step-end infinite;
  }

  .end {
    width: 100%;
    animation: blink-caret 1.2s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #f472b6;
    }
  }
</style>
