---
import { Image } from 'astro:assets';
import Enter from '@effects/Enter.astro';
import EnterScale from '@effects/EnterScale.astro';

const { role, name, credentials, imgSrc } = Astro.props;
---

<Enter>
  <div class="isolate mx-auto flex max-w-xs flex-col items-center gap-4 text-center">
    <div class="-z-10">
      <EnterScale>
        <div class="relative">
          <div
            class="absolute -left-2 -top-2 -z-10 box-content h-full w-full animate-spin-slow rounded-full bg-gradient-to-br from-zinc-400 to-zinc-950 p-2"
          >
          </div>
          <EnterScale delay={200}>
            <Image class="rounded-full grayscale" src={imgSrc} format="jpg" alt={'Photo of ' + name} />
          </EnterScale>
        </div>
      </EnterScale>
    </div>
    <h3 class="-mt-12 w-full bg-zinc-950 pt-4 md:-mt-20 md:text-xl">
      <EnterScale delay={400}>
        <strong>{role.toUpperCase()}</strong><br />
      </EnterScale>
      <EnterScale delay={400}>
        {name}
      </EnterScale>
    </h3>
    <EnterScale delay={600}>
      <p class="w-64 text-sm">{credentials}</p>
    </EnterScale>
  </div>
</Enter>
