---
const { class: className } = Astro.props;
---

<div
  x-data
  x-intersect.once.margin.-30%.0="$el.classList.replace('opacity-0', 'opacity-100'); $el.classList.add('xyz-in');"
  class={`opacity-0 ${className}`}
  xyz="fade right-50% duration-10"
>
  <slot />
</div>
