---
const { class: className = '' } = Astro.props;
---

<div class={`init transition duration-1000 motion-reduce:transition-none ${className}`} :class="{ 'trig': view }">
  <slot />
</div>

<style>
  .init {
    opacity: 0;
    transform: translateX(50%);
  }
  .trig {
    opacity: 1;
    transform: translateX(0);
  }
</style>
