---
const { class: className } = Astro.props;
---

<div
  x-data
  x-intersect.once.margin.-30%.0="$el.classList.add('end')"
  class={`start transition duration-1000 motion-reduce:transition-none ${className}`}
>
  <slot />
</div>

<style>
  .start {
    opacity: 0%;
    transform: translateX(-50%);
  }
  .end {
    opacity: 100%;
    transform: translateX(0);
  }
</style>
