---
const { duration = 1000, delay = 0 } = Astro.props;
---

<div
  class={`init transition duration-${duration} delay-${delay} motion-reduce:transition-none`}
  :class="{ 'trig': view }"
>
  <slot />
</div>

<style>
  .init {
    opacity: 0;
    transform: scale(0);
  }
  .trig {
    opacity: 1;
    transform: scale(1);
  }
</style>
