---
export interface Props {
  delay?: number;
}

const { delay = 0 } = Astro.props;

const xyz = `fade right-50% duration-10 delay-${delay}`;
---

<div x-data x-intersect.once.margin.-30%.0="$el.classList.replace('opacity-0', 'xyz-in')" class={`opacity-0`} xyz={xyz}>
  <slot />
</div>
