---
export interface Props {
  span?: true;
}

const { span } = Astro.props;
---

{
  span ? (
    <span x-data="{ view: false }" x-intersect.once.margin.-30%.0="view = true">
      <slot />
    </span>
  ) : (
    <div x-data="{ view: false }" x-intersect.once.margin.-30%.0="view = true">
      <slot />
    </div>
  )
}
