---
const { class: className } = Astro.props;
---

<div
  x-data
  class={`start transition duration-1000 motion-reduce:transition-none ${className}`}
  x-intersect.once="$el.classList.add('end')"
>
  <slot />
</div>

<style>
  .start {
    opacity: 0%;
    transform: translateX(20rem);
  }

  .end {
    opacity: 100%;
    transform: translateX(0);
  }
</style>
