<div class="bg-inherit" x-data="{ s: false }" x-cloak x-intersect.once="s = true">
  <div
    x-show="s"
    x-transition:enter="transition duration-700 delay-700"
    x-transition:enter-start="opacity-100 -translate-y-full"
    x-transition:enter-end="opacity-100 translate-y-0"
  >
    <slot />
  </div>
</div>
